<div class="main-news-holder">
    <div class="main-news-image-holder">
        <img src="{{imageUrl}}"/>
    </div>
    <div class="main-news-details-holder">
        <a href="{{url}}">
        <div class="main-news-title">
            {{title}}
        </div>
        </a>
        <a href="{{url}}">
        <div class="main-news-text">
                {{#if (lte text.length 400)}}
                    <span> {{text}}</span>
                {{/if}}
                {{#unless (gt title.length 400)}}
                    <span>{{cutText text 400 }}</span>
                {{/unless}}
            </div>
        </a>
    </div>
</div>